body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 300;
}
a.logo, a.logo:hover {
    color: inherit;
    text-decoration: none;
}
a.cart {
    color: inherit;
}
.nav.custom {
    border: 1px solid #DDD;
    border-width: 0 0 1px 0;
    padding: 20px 0;
}
.nav.custom a {
    color: inherit;
    font-weight: 400;
}
.nav.custom a:hover {
    background: transparent;
    text-decoration: underline;
}
.top-nav {
    background: #FFF;
}
.top-nav .icon-bar {
    background: #333;
}
.top-nav .navbar-toggle {
    background: transparent;
    border: 1px solid #DDD;
    margin-right: 0;
}
.top-nav .navbar-collapse {
    padding: 0;
}
.me {
    padding: 15px 0 0 30px;
}
.me a{
    color: #FFF;
    margin: 0;
    font-size: 2em;
}
.me a:hover{
    text-decoration: none;
}
p.greeting {
    font-weight: 300;
    font-size: 1.5em;
}
.no-padding{
    padding: 0;
    margin: 0;
}
.blog-item{
    padding: 10px 0;
}
.blog-item p,
.blog-detail p{
    line-height: 2em;
    text-align: justify;
}
.blog-title{
    line-height: 2em;
}
.blog-title a{
    font-weight: 800;
    color: inherit;
}
.blog-title .date
.blog-detail .date{
    font-size: 0.8em;
}
h1{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
.blog-detail img{
    width: 100%;
}
.mobile-thumbnail .social a{
    color: inherit;
    font-size: 1.5em;
}
.mobile-thumbnail .social a:hover{
    text-decoration: none;
}